In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Importando os dados

In [3]:
gabarito = pd.read_excel("Gabarito\gabarito_teste.xlsx")
# veio com colunas à mais, a linha a seguir exclui tais colunas
gabarito = gabarito.drop(gabarito.columns[[5]], axis = 1)

gabarito

,Materias,questao,gabarito,dificuldade,assunto
0,Matemática,1,C,fácil,Função
1,Matemática,2,A,médio,Razão e Proporção
2,Matemática,3,E,médio,Geometria Espacial
3,Matemática,4,C,fácil,Porcentagem
4,Matemática,5,B,difícil,Razão e Proporção
5,Matemática,6,D,fácil,Razão e Proporção
6,Matemática,7,A,médio,Geometria Espacial
7,Matemática,8,B,fácil,Porcentagem
8,Matemática,9,E,médio,Razão e Proporção
9,Matemática,10,D,fácil,Interpretação de Gráfico
10,Matemática,11,E,médio,Geometria Espacial
11,Matemática,12,A,difícil,Logaritmo
12,Matemática,13,B,médio,Equação
13,Física,14,A,médio,Dinâmica
14,Física,15,C,médio,Dilatação
15,Física,16,B,médio,cinemática
16,Física,17,D,médio,fases da matéria
17,Física,18,D,fácil,calorimetria
18,Física,19,B,médio,calor
19,Física,20,A,médio,termodinâmica
20,Português,21,D,Média,Interpretação textual
21,Português,22,D,Média,Interpretação textual
22,Português,23,C,difícil,Variação Linguística
23,Português,24,D,fácil,Variação Linguística
24,Português,25,A,Média,Variação Linguística
25,Português,26,E,fácil,Variação Linguística
26,Português,27,A,Média,Variação Linguística
27,Português,28,B,Média,Análise Linguística
28,Português,29,B,fácil,Análise Linguística
29,Português,30,B,Média,Análise Linguística
30,Química,31,C,fácil,Tabela periódica
31,Química,32,D,fácil,Tabela periódica e propriedades periódicas
32,Química,33,A,fácil,Polaridade e interações intermoleculares
33,Química,34,C,fácil,Tabela periódica e propriedades periódicas
34,Química,35,C,médio,Métodos de separação de misturas
35,Biologia,36,B,médio,Reino Animal - Geral
36,Biologia,37,D,fácil,Protozoários
37,Biologia,38,D,médio,Bactérias
38,Biologia,39,D,médio,Reino Animal - Verminoses
39,Biologia,40,D,fácil,Reino Animal - Artrópodes
40,Geografia,41,E,médio,Industrialização brasileira
41,Geografia,42,C,difícil,Matriz energética
42,Geografia,43,A,médio,Demografia brasileira
43,Geografia,44,B,fácil,Fusos horários e coordenadas
44,Geografia,45,E,médio,Geomorfologia do Brasil
45,História,46,C,médio,Brasil Colonial
46,História,47,E,médio,Segundo Reinado
47,História,48,A,médio,Era Vargas
48,História,49,E,médio,Segundo Reinado
49,História,50,A,fácil,Era Vargas

In [4]:
# respostas das questões objetivas
respostas_alunos = pd.read_excel("Gabarito/respostas_alunos.xlsx")
respostas_alunos

,nome,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,Unnamed: 51
0,julia,D,E,C,B,A,D,B,D,E,...,E,E,C,C,D,D,B,B,E,NaN
1,joao,B,C,B,E,D,B,D,D,B,...,C,B,E,D,B,C,D,B,E,NaN
2,pedro,C,B,C,C,C,D,B,D,E,...,D,D,C,E,E,D,A,C,C,NaN
3,murillo,C,D,B,A,C,E,B,D,B,...,B,B,A,A,A,B,B,A,D,NaN
4,willian,B,D,C,D,A,E,A,D,D,...,B,B,E,A,E,A,E,D,A,NaN
5,julio,B,A,D,B,C,B,C,E,D,...,B,C,A,B,D,A,B,E,E,NaN
6,patricia,A,A,C,B,A,B,D,A,A,...,D,C,A,A,C,C,B,B,B,NaN
7,paulo,D,A,E,A,A,D,E,D,D,...,E,E,B,C,C,A,C,E,B,NaN
8,marcos,D,C,A,B,D,A,C,D,D,...,B,D,A,B,D,D,D,E,D,NaN
9,mateus,D,E,D,C,B,D,B,D,E,...,D,C,C,C,E,A,D,C,D,NaN
10,leticia,C,A,A,C,E,D,E,E,B,...,B,A,C,C,E,C,C,D,E,NaN
11,laura,C,B,C,C,D,E,C,B,C,...,A,C,A,B,B,E,E,D,C,NaN
12,luiza,D,E,A,D,A,D,B,C,C,...,E,B,A,A,A,E,E,E,B,NaN

In [5]:
# dados pessoais dos alunos
dados_pessoais = pd.read_excel("Gabarito\dados_alunos.xlsx")
# veio com colunas à mais, a linha a seguir exclui tais colunas
dados_pessoais = dados_pessoais.drop(dados_pessoais.columns[[5, 6, 7,8 ]], axis = 1)

dados_pessoais.to_pickle("dados-relatorio-alunos/dados_pessoais.pkl")

dados_pessoais

        nome      cpf       curso língua     paa
0      julia   100000         arq    ing  tipo 1
1       joao   200000         mec    ing  tipo 2
2      pedro   300000    eletrica    esp  tipo 2
3    murillo   400000    historia    ing  tipo 3
4    willian   500000      letras    esp  tipo 1
5      julio   600000        comp    ing  tipo 4
6   patricia   700000       econo    ing  tipo 1
7      paulo   800000         adm    esp  tipo 4
8     marcos   900000       civil    esp  tipo 3
9     mateus  1000000         eqa    ing  tipo 3
10   leticia  1100000       psico    ing  tipo 2
11     laura  1200000  enfermagem    esp  tipo 2
12     luiza  1300000         med    ing  tipo 1

In [6]:
# quebra as respostas para se ter uma resposta por pessoa por linha:
# pd.melt faz exatamente isso. as id_vars são as variáveis de identificação, que não devem ser quebradas por linha
data = pd.melt(respostas_alunos, id_vars=['nome'], var_name='questao', value_name='resposta')
data

        nome      questao resposta
0      julia            1        D
1       joao            1        B
2      pedro            1        C
3    murillo            1        C
4    willian            1        B
..       ...          ...      ...
658   marcos  Unnamed: 51      NaN
659   mateus  Unnamed: 51      NaN
660  leticia  Unnamed: 51      NaN
661    laura  Unnamed: 51      NaN
662    luiza  Unnamed: 51      NaN

[663 rows x 3 columns]

In [7]:
# precisamos de uma coluna dizendo qual é a lingua estrangeira escolhida pelo aluno
# embora no simulinho 2021 não existam qeustões de linguas
data = pd.merge(data, dados_pessoais, on='nome')
data = data.drop(columns=['cpf', 'curso', 'paa'], axis=1)
data.head(10)

    nome questao resposta língua
0  julia       1        D    ing
1  julia       2        E    ing
2  julia       3        C    ing
3  julia       4        B    ing
4  julia       5        A    ing
5  julia       6        D    ing
6  julia       7        B    ing
7  julia       8        D    ing
8  julia       9        E    ing
9  julia      10        D    ing

In [8]:
# precisamos juntar as respostas de cada aluno ao gabarito
# merge faz justamente isso
data = pd.merge(data, gabarito, on='questao')
data

,nome,questao,resposta,língua,Materias,gabarito,dificuldade,assunto
0,julia,1,D,ing,Matemática,C,fácil,Função
1,joao,1,B,ing,Matemática,C,fácil,Função
2,pedro,1,C,esp,Matemática,C,fácil,Função
3,murillo,1,C,ing,Matemática,C,fácil,Função
4,willian,1,B,esp,Matemática,C,fácil,Função
...,...,...,...,...,...,...,...,...
645,marcos,50,D,esp,História,A,fácil,Era Vargas
646,mateus,50,D,ing,História,A,fácil,Era Vargas
647,leticia,50,E,ing,História,A,fácil,Era Vargas
648,laura,50,C,esp,História,A,fácil,Era Vargas
649,luiza,50,B,ing,História,A,fácil,Era Vargas

In [9]:
data = data.rename(columns={'Materias':'materia'})

In [10]:
# a correção (acerto ou erro) nada mais é que a comparação entre a resposta e o gabarito
data['correcao'] = data['resposta'] == data['gabarito']


data

,nome,questao,resposta,língua,materia,gabarito,dificuldade,assunto,correcao
0,julia,1,D,ing,Matemática,C,fácil,Função,False
1,joao,1,B,ing,Matemática,C,fácil,Função,False
2,pedro,1,C,esp,Matemática,C,fácil,Função,True
3,murillo,1,C,ing,Matemática,C,fácil,Função,True
4,willian,1,B,esp,Matemática,C,fácil,Função,False
...,...,...,...,...,...,...,...,...,...
645,marcos,50,D,esp,História,A,fácil,Era Vargas,False
646,mateus,50,D,ing,História,A,fácil,Era Vargas,False
647,leticia,50,E,ing,História,A,fácil,Era Vargas,False
648,laura,50,C,esp,História,A,fácil,Era Vargas,False
649,luiza,50,B,ing,História,A,fácil,Era Vargas,False

In [11]:
# nome -> materia -> questao -> resposta -> gabarito -> dificuldade -> assunto


data_clean = data[['nome','materia', 'questao','resposta','gabarito','assunto','dificuldade']].sort_values(['nome', 'questao']).set_index(['nome','materia','questao'])


# salvando como pickle para o relatorio
data_clean.to_pickle('dados-relatorio-alunos/data.pkl')

#df_questoes_alunos = df_questions[['Nome','Matéria','Questão','Resposta','Alternativa correta','Tema']].sort_values(['Nome', 'Questão']).set_index(['Nome','Matéria','Questão'])

data_clean

                           resposta gabarito             assunto dificuldade
nome    materia    questao
joao    Matemática 1              B        C              Função       fácil
                   2              C        A   Razão e Proporção       médio
                   3              B        E  Geometria Espacial       médio
                   4              E        C         Porcentagem       fácil
                   5              D        B   Razão e Proporção     difícil
...                             ...      ...                 ...         ...
willian História   46             E        C     Brasil Colonial       médio
                   47             A        E     Segundo Reinado       médio
                   48             E        A          Era Vargas       médio
                   49             D        E     Segundo Reinado       médio
                   50             A        A          Era Vargas       fácil

[650 rows x 4 columns]

## Redação

In [12]:
dados_redacao = pd.read_excel("Gabarito/redacao_teste.xlsx")


dados_redacao = dados_redacao.fillna(" ")

In [13]:
dados_redacao.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12
nome,julia,joao,pedro,murillo,willian,julio,patricia,paulo,marcos,mateus,leticia,laura,luiza
cpf,100000,200000,300000,400000,500000,600000,700000,800000,900000,1000000,1100000,1200000,1300000
Norma culta,131,134,84,161,96,182,48,193,145,193,63,144,114
comentarios Norma culta,bom,muito bom,melhorar,letra rum,piorou,melhorou,ilegivel,não entendi,melhorar,letra rum,piorou,letra rum,piorou
Adequação ao tema,197,187,189,45,84,123,116,196,111,130,43,50,95
comentarios Adequação ao tema,ilegivel,não entendi,melhorar,letra rum,piorou,,bom,muito bom,melhorar,letra rum,piorou,melhorou,
Argumentação,161,191,166,131,115,96,162,85,140,182,131,115,47
comentarios Argumentação,ilegivel,não entendi,melhorar,bom,muito bom,melhorar,letra rum,piorou,melhorou,letra rum,piorou,letra rum,piorou
Coesão,148,88,77,47,188,149,55,86,131,46,177,162,142
comentarios Coesão,letra rum,piorou,,bom,muito bom,melhorar,letra rum,piorou,melhorou,letra rum,piorou,letra rum,piorou
Proposta de intervenção,98,145,196,199,138,166,44,90,62,182,44,155,163
comentarios Proposta de intervenção,,,,ilegivel,não entendi,melhorar,bom,muito bom,melhorar,letra rum,piorou,melhorou,
Nota,735,745,712,583,621,716,425,650,589,733,458,626,561
comentarios Nota,bom,muito bom,melhorar,letra rum,piorou,melhorou,ilegivel,não entendi,melhorar,letra rum,piorou,,

# Métricas

## Alunos

In [14]:
# calcula o total de questões certas por máteria, quantas questões tinham por matéria, e média por matéria

# agg permite agregar multiplas funções ao groupby
acertos_aluno = data.groupby(['nome','materia'])['correcao'].agg(['sum','count','mean'])
acertos_aluno = acertos_aluno.rename(columns={"sum": "Total Acertos", "mean": "Média Individual", 'count': "Total questoes"})

In [15]:
# comparar a média de acerto das questões dos alunos com a turma geral

# media geral do einstein
media_acerto_materia = data.groupby('materia').mean()

media_acerto_materia = media_acerto_materia.rename(columns={"correcao": "Media Geral"})

# adicionando a media geral aos dados individuais
acertos_aluno = acertos_aluno.join(media_acerto_materia, on='materia')
acertos_aluno

                    Total Acertos  Total questoes  Média Individual  \
nome    materia
joao    Biologia                1               5          0.200000
        Física                  0               7          0.000000
        Geografia               1               5          0.200000
        História                0               5          0.000000
        Matemática              1              13          0.076923
...                           ...             ...               ...
willian Geografia               1               5          0.200000
        História                1               5          0.200000
        Matemática              1              13          0.076923
        Português               2              10          0.200000
        Química                 1               5          0.200000

                    Media Geral
nome    materia
joao    Biologia       0.246154
        Física         0.186813
        Geografia      0.107692
        História       0.153846
        Matemática     0.213018
...                         ...
willian Geografia      0.107692
        História       0.153846
        Matemática     0.213018
        Português      0.192308
        Química        0.246154

[91 rows x 4 columns]

In [16]:
acertos_aluno = acertos_aluno.unstack()
acertos_aluno.head()

        Total Acertos                                                         \
materia      Biologia Física Geografia História Matemática Português Química
nome
joao                1      0         1        0          1         2       2
julia               1      1         0        0          4         1       1
julio               2      2         0        1          2         4       1
laura               0      2         0        1          4         0       2
leticia             1      1         1        0          4         1       0

        Total questoes                   ... Média Individual            \
materia       Biologia Física Geografia  ...       Matemática Português
nome                                     ...
joao                 5      7         5  ...         0.076923       0.2
julia                5      7         5  ...         0.307692       0.1
julio                5      7         5  ...         0.153846       0.4
laura                5      7         5  ...         0.307692       0.0
leticia              5      7         5  ...         0.307692       0.1

                Media Geral                                           \
materia Química    Biologia    Física Geografia  História Matemática
nome
joao        0.4    0.246154  0.186813  0.107692  0.153846   0.213018
julia       0.2    0.246154  0.186813  0.107692  0.153846   0.213018
julio       0.2    0.246154  0.186813  0.107692  0.153846   0.213018
laura       0.4    0.246154  0.186813  0.107692  0.153846   0.213018
leticia     0.0    0.246154  0.186813  0.107692  0.153846   0.213018


materia Português   Química
nome
joao     0.192308  0.246154
julia    0.192308  0.246154
julio    0.192308  0.246154
laura    0.192308  0.246154
leticia  0.192308  0.246154

[5 rows x 28 columns]

In [17]:
acertos_aluno[('Total Acertos', 'Total')] = acertos_aluno['Total Acertos'].T.sum()

In [18]:
acertos_aluno[('Total questoes', 'Total')] = 50

In [19]:
acertos_aluno[('Média Individual', 'Total')] = acertos_aluno[('Total Acertos', 'Total')] / 50

In [20]:
acertos_aluno

         Total Acertos                                                         \
materia       Biologia Física Geografia História Matemática Português Química
nome
joao                 1      0         1        0          1         2       2
julia                1      1         0        0          4         1       1
julio                2      2         0        1          2         4       1
laura                0      2         0        1          4         0       2
leticia              1      1         1        0          4         1       0
luiza                1      3         0        2          2         2       2
marcos               1      0         0        1          1         3       1
mateus               2      2         1        0          4         2       0
murillo              2      1         0        0          1         3       0
patricia             0      2         0        1          2         3       3
paulo                1      1         2        2          4         0       1
pedro                1      1         1        1          6         2       2
willian              3      1         1        1          1         2       1

         Total questoes                   ... Media Geral                      \
materia        Biologia Física Geografia  ...    Biologia    Física Geografia
nome                                      ...
joao                  5      7         5  ...    0.246154  0.186813  0.107692
julia                 5      7         5  ...    0.246154  0.186813  0.107692
julio                 5      7         5  ...    0.246154  0.186813  0.107692
laura                 5      7         5  ...    0.246154  0.186813  0.107692
leticia               5      7         5  ...    0.246154  0.186813  0.107692
luiza                 5      7         5  ...    0.246154  0.186813  0.107692
marcos                5      7         5  ...    0.246154  0.186813  0.107692
mateus                5      7         5  ...    0.246154  0.186813  0.107692
murillo               5      7         5  ...    0.246154  0.186813  0.107692
patricia              5      7         5  ...    0.246154  0.186813  0.107692
paulo                 5      7         5  ...    0.246154  0.186813  0.107692
pedro                 5      7         5  ...    0.246154  0.186813  0.107692
willian               5      7         5  ...    0.246154  0.186813  0.107692

                                                  Total Acertos  \
materia   História Matemática Português   Química         Total
nome
joao      0.153846   0.213018  0.192308  0.246154             7
julia     0.153846   0.213018  0.192308  0.246154             8
julio     0.153846   0.213018  0.192308  0.246154            12
laura     0.153846   0.213018  0.192308  0.246154             9
leticia   0.153846   0.213018  0.192308  0.246154             8
luiza     0.153846   0.213018  0.192308  0.246154            12
marcos    0.153846   0.213018  0.192308  0.246154             7
mateus    0.153846   0.213018  0.192308  0.246154            11
murillo   0.153846   0.213018  0.192308  0.246154             7
patricia  0.153846   0.213018  0.192308  0.246154            11
paulo     0.153846   0.213018  0.192308  0.246154            11
pedro     0.153846   0.213018  0.192308  0.246154            14
willian   0.153846   0.213018  0.192308  0.246154            10

         Total questoes Média Individual
materia           Total            Total
nome
joao                 50             0.14
julia                50             0.16
julio                50             0.24
laura                50             0.18
leticia              50             0.16
luiza                50             0.24
marcos               50             0.14
mateus               50             0.22
murillo              50             0.14
patricia             50             0.22
paulo                50             0.22
pedro                50             0.28
willian              50             0.20

[13 rows x 31 columns]

In [21]:
acertos_aluno = acertos_aluno.stack()
media_acertos_obj = data['correcao'].mean()
acertos_aluno = acertos_aluno.fillna(value=media_acertos_obj)
acertos_aluno

                    Media Geral  Média Individual  Total Acertos  \
nome    materia
joao    Biologia       0.246154          0.200000              1
        Física         0.186813          0.000000              0
        Geografia      0.107692          0.200000              1
        História       0.153846          0.000000              0
        Matemática     0.213018          0.076923              1
...                         ...               ...            ...
willian História       0.153846          0.200000              1
        Matemática     0.213018          0.076923              1
        Português      0.192308          0.200000              2
        Química        0.246154          0.200000              1
        Total          0.195385          0.200000             10

                    Total questoes
nome    materia
joao    Biologia                 5
        Física                   7
        Geografia                5
        História                 5
        Matemática              13
...                            ...
willian História                 5
        Matemática              13
        Português               10
        Química                  5
        Total                   50

[104 rows x 4 columns]

In [22]:
# manipulando a coluna de total de acertos pra mostrar no formato -> acertos/total de questoes
acertos_aluno[['Total Acertos', 'Total questoes']] = acertos_aluno[['Total Acertos', 'Total questoes']].astype(str)

acertos_aluno['Total de Acertos'] = acertos_aluno[['Total Acertos', 'Total questoes']].agg('/'.join, axis=1)

acertos_aluno = acertos_aluno.drop(columns =['Total Acertos', 'Total questoes'])

In [23]:
# reordenando as colunas
acertos_aluno = acertos_aluno[['Total de Acertos',  "Média Individual", "Media Geral"]]

In [24]:
# salvando como pickle para o relatorio
acertos_aluno.to_pickle('dados-relatorio-alunos/acertos_aluno.pkl')

acertos_aluno

                   Total de Acertos  Média Individual  Media Geral
nome    materia
joao    Biologia                1/5          0.200000     0.246154
        Física                  0/7          0.000000     0.186813
        Geografia               1/5          0.200000     0.107692
        História                0/5          0.000000     0.153846
        Matemática             1/13          0.076923     0.213018
...                             ...               ...          ...
willian História                1/5          0.200000     0.153846
        Matemática             1/13          0.076923     0.213018
        Português              2/10          0.200000     0.192308
        Química                 1/5          0.200000     0.246154
        Total                 10/50          0.200000     0.195385

[104 rows x 3 columns]

In [25]:
# media de acerto do aluno por dificuldade de questao e por materia
media_por_dificuldade = data.groupby(['nome','materia','dificuldade'])['correcao'].agg(['sum','count','mean'])
media_por_dificuldade = media_por_dificuldade.rename(columns={"sum": "Total Acertos", "mean": "Média Individual", 'count': "Total questoes"})

# media geral do einstein
media_geral_dificuldade = data.groupby(['materia','dificuldade']).mean()


# adicionando a media geral aos dados individuais
media_por_dificuldade = media_por_dificuldade.join(media_geral_dificuldade, on=['materia','dificuldade'],how='left', lsuffix='_left', rsuffix='_right')
media_por_dificuldade = media_por_dificuldade.rename(columns={'correcao_left': 'Média Individual', 'correcao_right':'Media Geral'})

media_por_dificuldade = media_por_dificuldade.rename(columns={'correcao': 'Média Geral'})

media_por_dificuldade

                               Total Acertos  Total questoes  \
nome    materia   dificuldade
joao    Biologia  fácil                    0               2
                  médio                    1               3
        Física    fácil                    0               1
                  médio                    0               6
        Geografia difícil                  1               1
...                                      ...             ...
willian Português Média                    1               6
                  difícil                  0               1
                  fácil                    1               3
        Química   fácil                    1               4
                  médio                    0               1

                               Média Individual  Média Geral
nome    materia   dificuldade
joao    Biologia  fácil                0.000000     0.192308
                  médio                0.333333     0.282051
        Física    fácil                0.000000     0.000000
                  médio                0.000000     0.217949
        Geografia difícil              1.000000     0.076923
...                                         ...          ...
willian Português Média                0.166667     0.217949
                  difícil              0.000000     0.153846
                  fácil                0.333333     0.153846
        Química   fácil                0.250000     0.250000
                  médio                0.000000     0.230769

[221 rows x 4 columns]

In [26]:
# media geral do einstein por dificuldade das questoes para os alunos compararem
media_por_dificuldade = data.groupby(['materia','dificuldade']).mean()

media_por_dificuldade

                        correcao
materia    dificuldade
Biologia   fácil        0.192308
           médio        0.282051
Física     fácil        0.000000
           médio        0.217949
Geografia  difícil      0.076923
           fácil        0.076923
           médio        0.128205
História   fácil        0.076923
           médio        0.173077
Matemática difícil      0.115385
           fácil        0.292308
           médio        0.179487
Português  Média        0.217949
           difícil      0.153846
           fácil        0.153846
Química    fácil        0.250000
           médio        0.230769

In [27]:
# agrupar as questoes por materia e por tema

# podem existir matérias que não tem os tres tipos(fácil, médio, dificil)
acertos_por_assunto = data.groupby(['nome','materia', 'assunto'])['correcao'].agg(['sum','count','mean'])

acertos_por_assunto = acertos_por_assunto.rename(columns={"sum": "Total Acertos", "mean": "Média Individual", 'count': "Total questoes"})

# salvando como pickle para o relatorio
acertos_por_assunto.to_pickle('dados-relatorio-alunos/acertos_por_assunto.pkl')

acertos_por_assunto

                                                              Total Acertos  \
nome    materia   assunto
joao    Biologia  Bactérias                                               0
                  Protozoários                                            0
                  Reino Animal - Artrópodes                               0
                  Reino Animal - Geral                                    1
                  Reino Animal - Verminoses                               0
...                                                                     ...
willian Português Variação Linguística                                    0
        Química   Métodos de separação de misturas                        0
                  Polaridade e interações intermoleculares                1
                  Tabela periódica                                        0
                  Tabela periódica e propriedades periódicas              0

                                                              Total questoes  \
nome    materia   assunto
joao    Biologia  Bactérias                                                1
                  Protozoários                                             1
                  Reino Animal - Artrópodes                                1
                  Reino Animal - Geral                                     1
                  Reino Animal - Verminoses                                1
...                                                                      ...
willian Português Variação Linguística                                     5
        Química   Métodos de separação de misturas                         1
                  Polaridade e interações intermoleculares                 1
                  Tabela periódica                                         1
                  Tabela periódica e propriedades periódicas               2

                                                              Média Individual
nome    materia   assunto
joao    Biologia  Bactérias                                                0.0
                  Protozoários                                             0.0
                  Reino Animal - Artrópodes                                0.0
                  Reino Animal - Geral                                     1.0
                  Reino Animal - Verminoses                                0.0
...                                                                        ...
willian Português Variação Linguística                                     0.0
        Química   Métodos de separação de misturas                         0.0
                  Polaridade e interações intermoleculares                 1.0
                  Tabela periódica                                         0.0
                  Tabela periódica e propriedades periódicas               0.0

[442 rows x 3 columns]

##  Redação

In [28]:
dados_redacao2 = dados_redacao.transpose()
dados_redacao

,nome,cpf,Norma culta,comentarios Norma culta,Adequação ao tema,comentarios Adequação ao tema,Argumentação,comentarios Argumentação,Coesão,comentarios Coesão,Proposta de intervenção,comentarios Proposta de intervenção,Nota,comentarios Nota
0,julia,100000,131,bom,197,ilegivel,161,ilegivel,148,letra rum,98,,735,bom
1,joao,200000,134,muito bom,187,não entendi,191,não entendi,88,piorou,145,,745,muito bom
2,pedro,300000,84,melhorar,189,melhorar,166,melhorar,77,,196,,712,melhorar
3,murillo,400000,161,letra rum,45,letra rum,131,bom,47,bom,199,ilegivel,583,letra rum
4,willian,500000,96,piorou,84,piorou,115,muito bom,188,muito bom,138,não entendi,621,piorou
5,julio,600000,182,melhorou,123,,96,melhorar,149,melhorar,166,melhorar,716,melhorou
6,patricia,700000,48,ilegivel,116,bom,162,letra rum,55,letra rum,44,bom,425,ilegivel
7,paulo,800000,193,não entendi,196,muito bom,85,piorou,86,piorou,90,muito bom,650,não entendi
8,marcos,900000,145,melhorar,111,melhorar,140,melhorou,131,melhorou,62,melhorar,589,melhorar
9,mateus,1000000,193,letra rum,130,letra rum,182,letra rum,46,letra rum,182,letra rum,733,letra rum
10,leticia,1100000,63,piorou,43,piorou,131,piorou,177,piorou,44,piorou,458,piorou
11,laura,1200000,144,letra rum,50,melhorou,115,letra rum,162,letra rum,155,melhorou,626,
12,luiza,1300000,114,piorou,95,,47,piorou,142,piorou,163,,561,

In [30]:

df_red['Com1'] = dados_redacao['comentarios Norma culta']
df_red['Com2'] = dados_redacao['comentarios Adequação ao tema']
df_red['Com3'] = dados_redacao['comentarios Argumentação']
df_red['Com4'] = dados_redacao['comentarios Coesão']
df_red['Com5'] = dados_redacao['comentarios Proposta de intervenção']
df_red['Com6'] = dados_redacao['comentarios Nota']

In [93]:
dados_redacao = pd.read_excel("Gabarito/redacao_teste.xlsx")


dados_redacao = dados_redacao.fillna(" ")

notas_redacao = dados_redacao[['nome','Norma culta','Adequação ao tema','Argumentação','Coesão','Proposta de intervenção','Nota']]
coments_red= dados_redacao[['nome','comentarios Norma culta','comentarios Adequação ao tema','comentarios Argumentação','comentarios Coesão','comentarios Proposta de intervenção','comentarios Nota']]

coments_red = coments_red.rename(columns={'comentarios Norma culta': "Norma culta",'comentarios Adequação ao tema':"Adequação ao tema",'comentarios Argumentação':"Argumentação",'comentarios Coesão':"Coesão",'comentarios Proposta de intervenção':"Proposta de intervenção",'comentarios Nota':"Nota"})

notas_redacao = pd.melt(notas_redacao, id_vars=['nome'], value_vars=['Norma culta','Adequação ao tema','Argumentação','Coesão','Proposta de intervenção','Nota'], var_name='Criterio', value_name='Nota')
notas_redacao

coments_red = pd.melt(coments_red, id_vars=['nome'], value_vars=['Norma culta','Adequação ao tema','Argumentação','Coesão','Proposta de intervenção','Nota'], var_name='Criterio', value_name='Comentario')
coments_red

c:\users\murillo\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3437: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  exec(code_obj, self.user_global_ns, self.user_ns)

       nome     Criterio Comentario
0     julia  Norma culta        bom
1      joao  Norma culta  muito bom
2     pedro  Norma culta  melhorar
3   murillo  Norma culta  letra rum
4   willian  Norma culta     piorou
..      ...          ...        ...
73   marcos         Nota  melhorar
74   mateus         Nota  letra rum
75  leticia         Nota     piorou
76    laura         Nota
77    luiza         Nota

[78 rows x 3 columns]

In [103]:
# juntando os dois df's baseado no nome e n
df_red = pd.merge(notas_redacao, coments_red, how='left', left_on=['nome','Criterio'], right_on=['nome','Criterio'])
df_red.sort_values(['nome', 'Criterio']).set_index(['nome','Criterio'])

                                 Nota   Comentario
nome    Criterio
joao    Adequação ao tema         187  não entendi
        Argumentação              191  não entendi
        Coesão                     88       piorou
        Norma culta               134    muito bom
        Nota                      745    muito bom
...                               ...          ...
willian Argumentação              115    muito bom
        Coesão                    188    muito bom
        Norma culta                96       piorou
        Nota                      621       piorou
        Proposta de intervenção   138  não entendi

[78 rows x 2 columns]

## Pontuação Total

In [ ]:
# juntando a pontuação das questões objetivas com a nota da redação

# pegando a soma de acertos de cada aluno
acertos_aluno_total = data.groupby(['nome']).sum()

# juntando os dados das notas de redacao com os dados das questoes objetivas
pontuacao_total = dados_redacao
pontuacao_total = pontuacao_total.join(acertos_aluno_total, on='nome')

# para a pontuação total, não precisamos das colunas de critérios e comentarios
pontuacao_total = pontuacao_total.drop(labels=['Norma culta','Adequação ao tema','Argumentação','Coesão', 'Proposta de intervenção'
,'comentarios', 'comentarios.1','comentarios.2','comentarios.3','comentarios.4', 'comentarios.5'], axis =1)

# aqui considera que cada questao vale 10 pontos
pontuacao_total['Nota total'] = pontuacao_total['Nota'] + pontuacao_total['correcao']*10

# salvando como pickle para o relatorio
pontuacao_total.to_pickle('dados-relatorio-alunos/pontuacao_total.pkl')

pontuacao_total

In [ ]:
# calcular a % de acerto de cada aluno
# como cada questão vale 10, e tem 50 questoes, logo o peso da prova objetiva é 500
# redação vale 1000
# nota máxima é 1500
pontuacao_total['% de acerto'] = pontuacao_total['Nota total'] / 1500

# salvando como pickle para o relatorio
pontuacao_total.to_pickle('dados-relatorio-alunos/pontuacao_total.pkl')

pontuacao_total

In [ ]:
# ver a colocação de cada aluno

colocacao = pontuacao_total.sort_values(by='Nota total', ascending=False)

# como os indices ficam fora de ordem depois de colocar as notas em valor decrescente, é necessário resetar o valor do indices
# de 'colocacao'
colocacao = colocacao.reset_index(drop=True)

# salvando como pickle para o relatorio
colocacao.to_pickle('dados-relatorio-alunos/colocacao.pkl')

colocacao

## Docentes

In [ ]:
# total de inscritos

# falta discretizar por dia de prova

total_presentes = data['nome'].nunique()
total_presentes

### Objetivas

In [ ]:
# media de acertos em cada questão
media_acerto_questao = data.groupby(['materia', 'questao']).agg(['sum','count','mean'])
media_acerto_questao = media_acerto_questao.rename(columns={"sum": "Total Acertos", "mean": "Média", 'count': "Total Alunos"})

# salvando como pickle para o relatorio
media_acerto_questao.to_pickle('dados-relatorio-docentes/media_acerto_questao.pkl')

media_acerto_questao

In [ ]:
# questões com mais acertos

# ingles e espanhol podem ter numeros muito diferentes por o total de alunos em cada materia pode ser muito diferente

mais_acertos = data.groupby(['materia', 'questao']).agg(['sum','count','mean'])
mais_acertos = mais_acertos.rename(columns={"sum": "Total Acertos", "mean": "Média", 'count': "Total Alunos"})

# salvando como pickle para o relatorio
mais_acertos.to_pickle('dados-relatorio-docentes/mais_acertos.pkl')

##### não consegui fazer um sort_values com questões em crescente, pode ser erro no conjunto da dados, testar dps
mais_acertos.sort_values(by=['materia','questao'])

In [ ]:
# media geral do einstein por dificuldade das questoes
media_por_dificuldade = data.groupby(['materia','dificuldade']).agg(['sum','count','mean'])
media_por_dificuldade = media_por_dificuldade.rename(columns={"sum": "Total Acertos", "mean": "Média", 'count': "Total Alunos"})

# salvando como pickle para o relatorio
media_por_dificuldade.to_pickle('dados-relatorio-docentes/media_por_dificuldade.pkl')

media_por_dificuldade

In [ ]:
# media de acerto por assunto
media_por_assunto = data.groupby(['materia','assunto']).agg(['sum','count','mean'])
media_por_assunto  = media_por_assunto.rename(columns={"sum": "Total Acertos", "mean": "Média", 'count': "Total Questões"})


# salvando como pickle para o relatorio
media_por_assunto.to_pickle('dados-relatorio-docentes/media_por_assunto.pkl')

media_por_assunto

In [ ]:
# media total de acertos em toda prova objetiva

media_acertos_obj = data['correcao'].mean()


# salvando como pickle para o relatorio
### media_acertos_obj.to_pickle('dados-relatorio-docentes/media_acertos_obj.pkl')

media_acertos_obj

In [ ]:
# porcentagem de acerto geral na prova = total de acertos / total de linhas
porcentagem_acerto_obj = data['correcao'].sum() / data.shape[0]
porcentagem_acerto_obj

In [32]:
# porcentagem acerto em cada materia = media de acerto de cada materia
media_acerto_materia = data.groupby('materia').mean()


# salvando como pickle para o relatorio
media_acerto_materia.to_pickle('dados-relatorio-docentes/media_acerto_materia.pkl')

media_acerto_materia

            correcao
materia
Biologia    0.246154
Física      0.186813
Geografia   0.107692
História    0.153846
Matemática  0.213018
Português   0.192308
Química     0.246154

### Redação

In [ ]:
#Média de pontuação na Redação
media_redacao = dados_redacao[['Norma culta','Adequação ao tema','Argumentação','Coesão', 'Proposta de intervenção'
,'Nota']].mean()

# salvando como pickle para o relatorio
media_redacao.to_pickle('dados-relatorio-docentes/media_redacao.pkl')

media_redacao

In [ ]:
#Porcentagem de acerto total na Redação

# como a nota maxima para cada criterio é 200, divide-se as notas por 200 para calcular o quantos % os alunos atingiram do valor máximo
porcem_acertos_redacao = dados_redacao[['Norma culta','Adequação ao tema','Argumentação','Coesão', 'Proposta de intervenção']]/200

# calcula a media de porcentagem de acerto
porcem_acertos_redacao = porcem_acertos_redacao.mean()


# salvando como pickle para o relatorio
porcem_acertos_redacao.to_pickle('dados-relatorio-docentes/porcem_acertos_redacao.pkl')

porcem_acertos_redacao

## Pontuação total

In [ ]:
# a media da pontuação geral é calculada a partir da soma das notas de redação e notas das questões objetivas
# tinhamos calculado a nota total de cada aluno em 'pontuacao_total['Nota total'], então é so fazer a média desses dados

media_pontuacao_total = pontuacao_total['Nota total'].mean()

############ deu erro
# salvando como pickle para o relatorio
# media_pontuacao_total.to_pickle('dados-relatorio-docentes/media_pontuacao_total.pkl')

media_pontuacao_total

In [ ]:
# a media da % de acerto da prova é justamente a média de acerto, dividida pela quantidade total de pontos possíveis
# como a redação vale 1000, e as questçoes objetivas 500, basta dividir por 500
media_porcem_total = media_pontuacao_total / 1500

############ deu erro
# salvando como pickle para o relatorio
#media_porcem_total.to_pickle('dados-relatorio-docentes/media_porcem_total.pkl')

media_porcem_total

In [ ]:
# 10 melhores colocados, nota total e % de acertos
# 'colocacao' foi definido na seção de métricas de alunos
top10 = colocacao.head(10)


# salvando como pickle para o relatorio
top10.to_pickle('dados-relatorio-docentes/top10.pkl')

top10

In [ ]:
# 5 melhores, nota total e % de acertos
top5 = colocacao.head(5)

# salvando como pickle para o relatorio
top5.to_pickle('dados-relatorio-docentes/top5.pkl')

top5

# Gráficos e relatórios

In [ ]:
# gráfico para a media de acerto de cada questão, separado por matéria

# media de acertos em cada questão
media_acerto_questao = data.groupby(['materia', 'questao']).mean()

# como 'media_acerto_questao' tem indice igual ao nome das materias, uma melhor prática seria criar uma nova coluna especifica
# para o indice
media_acerto_questao = media_acerto_questao.reset_index()
# lista de materias do simulinho
materias = ['Biologia','Física','Geografia','História','Matemática','Português','Química']

# o loop passa por cada materia do vetor acima, comparar se o valor é igual à materia do conjunto 'media_Acerto_questao'
# e plota o gráfico com a média de acertos na referida materia
for materia in materias:
    correcao = media_acerto_questao[media_acerto_questao['materia'] == materia]
    plt.figure()
    plt.bar(correcao['questao'], correcao['correcao'])
    plt.title(materia)

plt.show()

In [ ]:
# gráfico da média de acerto de todas as matérias

media_acerto_materia = data.groupby(['materia']).mean()

# como 'media_acerto_questao' tem indice igual ao nome das materias, uma melhor prática seria criar uma nova coluna especifica
# para o indice
media_acerto_materia = media_acerto_materia.reset_index()

sns.barplot(x=media_acerto_materia['materia'], y=media_acerto_materia['correcao'])
plt.xticks(rotation=45)
plt.show()

# Extras

In [ ]:
# matriz de correlacao